.tooltip_content .pfq-iv-block{
  margin-top:6px;
  padding-top:5px;
  border-top:1px solid rgba(255,255,255,0.25);
  font-size: 9pt;
}

.pfq-iv-block b{
  font-size:12pt;
}

/* color grading */
.pfq-zero, .pfq-perfect{
  font-weight:bold;
  text-decoration:underline;
}

.pfq-zero{
  color:#ff6b6b;
}

/* .pfq-mid{
  color:#ffd166;
} */

.pfq-perfect{
  color:#8bdc8b;
}
